---
---

@import "{{ site.theme }}";

$link-color: #1d3557; // prussian blue
$link-color-hover: #1d3557; // celadon blue
$lighter-gray: #666666;
$darker-gray: #333333;
$background-gray: #fdfdfd;

body {

    color: $darker-gray;
    background: $background-gray;

    h1 {
        font-size: 22px;

        a:hover {
            color: $link-color;
            font-weight: bold;
        }
    }

    h3 {
        padding: 0;
        margin: 15px 0px 5px 0px;
        color:#494949;
        // font-weight: 500;
    }

    h4 {
        padding: 0;
        margin: 15px 0px 5px 0px;
        color:#494949;
        // font-weight: 500;
    }

    p {
        text-align: justify;
    }


    a {
        color: #1d3557;

        &:hover {
            font-weight: 400;
            color: #457b9d;
        }

        &:focus {
            font-weight: 400;
            color: $link-color;
        }
    }

    header nav {

        margin-bottom: 10px;

        a {
            display: block;
        
            &.sub {
                font-size: 12px;
                margin-left: 10px;
            }

            &:hover { 
                cursor: pointer; // fix otherwise missing pointer in sub category links
            }
        }

        &.etc {
            font-size: 13px;

            a {
                color: $darker-gray;

                &:hover {
                    color: $lighter-gray;
                }
            }
        }
    }

    .paper {
        
        margin-bottom: 1.5em;

        .title a {
            font-weight: 700;
            display: block;
        }

        .meta {
            font-size: 12px;
            display: block;
        }
        
        .desc {
            text-align: justify;
            margin-top: 0.2em;
            font-size: 13px;
            display: block;
        }

    }

    .authors {

        margin-bottom: 1em;


        a {
            color: $darker-gray;

            &:hover {
                color: $lighter-gray;
            }
        }
    }
}

